@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	/* overflow-x: hidden; */
	/* overflow-y: auto; */
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	@apply bg-mainbg;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@layer base {
	body {
		@apply min-h-screen w-screen overflow-x-hidden bg-mainbg cursor-default desktop:overflow-hidden;
	}
	.topurple {
		@apply text-primary hover:text-secondary transition-all duration-150 transform-gpu;
	}
	.tocyan {
		@apply text-secondary hover:text-primary transition-all duration-150 ease-stretch-out transform-gpu;
	}
	.invisible {
		@apply hidden;
	}
	.iconText {
		@apply absolute w-auto p-1 mb-2 min-w-max opacity-0
			rounded-md shadow-md text-white bg-gray-700
			text-xs font-bold -translate-y-16 bottom-full
			transition-all duration-200 scale-0 origin-bottom;
	}
	.navLink {
		@apply flex items-center justify-center font-main text-3xl text-primary laptop:hover:text-secondary transform laptop:hover:scale-125 transition-all duration-300;
	}
}

.perspective-text {
	color: white;
	font-family: Arial;
	font-size: 58px;
	font-weight: 900;
	letter-spacing: -1px;
	text-transform: uppercase;
	width: 100%;
}
.perspective-line {
	height: 62px;
	overflow: hidden;
	position: relative;
}
.perspective-line p {
	height: 50px;
	line-height: 65px;
	transition: all 0.6s ease-in-out;
}

.perspective-line:nth-child(odd) {
	transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
	transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
	transform: translate(0, -56px);
}

.perspective-line:nth-child(1) {
	left: 3px;
	background: linear-gradient(to bottom, #00ffff00, #00d5ff5c, #00d5ff);
}

.perspective-line:nth-child(2) {
	left: 38px;
	background: linear-gradient(to bottom, #00d5ff, #9015fc);
}

.perspective-line:nth-child(3) {
	left: 74px;
	background: linear-gradient(to bottom, #9015fc, #00d5ff);
}

.perspective-line:nth-child(4) {
	left: 110px;
	background: linear-gradient(to bottom, #00d5ff, #9015fc);
}

.perspective-line:nth-child(5) {
	left: 145px;
	background: linear-gradient(to top, #00ffff00, #00ffff00, #9015fc);
}

@media screen and (max-width: 1000px) {
	.perspective-container {
		margin-left: 160px;
	}
}
@media screen and (max-width: 900px) {
	.perspective-container {
		margin-left: 100px;
	}
}
@media screen and (max-width: 800px) {
	.perspective-container {
		margin-left: 60px;
	}
}
@media screen and (max-width: 660px) {
	.perspective-container {
		margin-left: 5px;
	}
}
@media screen and (max-width: 610px) {
	.perspective-container {
		margin-left: 30px;
		width: 300px;
	}
	.perspective-line {
		height: 48px;
	}
	.perspective-text {
		font-size: 39px;
	}
	p {
		height: 44px;
		line-height: 44px;
		transition: all 0.6s ease-in-out;
	}
	.perspective-text:hover p {
		transform: translate(0, -50px);
	}

	.perspective-line:nth-child(1) {
		left: 3px;
	}

	.perspective-line:nth-child(2) {
		left: 30px;
	}

	.perspective-line:nth-child(3) {
		left: 57px;
	}

	.perspective-line:nth-child(4) {
		left: 84px;
	}
	.perspective-line:nth-child(5) {
		left: 111px;
	}
}
@media screen and (max-width: 500px) {
	.perspective-container {
		margin-left: 20px;
		width: 250px;
	}
	.perspective-line {
		height: 35px;
	}
	.perspective-text {
		font-size: 32px;
	}
	p {
		height: 30px;
		line-height: 1px;
		transition: all 0.6s ease-in-out;
	}
	.perspective-text:hover p {
		transform: translate(0, -42px);
	}
	.perspective-text:active p {
		transform: translate(0, -42px);
	}

	.perspective-line:nth-child(1) {
		left: 3px;
	}

	.perspective-line:nth-child(2) {
		left: 23px;
	}

	.perspective-line:nth-child(3) {
		left: 43px;
	}

	.perspective-line:nth-child(4) {
		left: 63px;
	}
	.perspective-line:nth-child(5) {
		left: 82px;
	}
}

.navLink {
	@apply flex items-center justify-center font-main text-3xl text-primary hover:text-secondary transform hover:scale-125 transition-all duration-300;
}

::-webkit-scrollbar {
	@apply w-0;
}
::-webkit-scrollbar-track {
	@apply bg-mainbg;
}
::-webkit-scrollbar-thumb {
	@apply shadow-md bg-gray-700 hover:bg-gray-600 rounded-lg
		/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */;
}
::-webkit-scrollbar-thumb:active {
	@apply bg-gray-500;
}

::-moz-selection {
	/* Code for Firefox */
	color: #6a22f8;
	background: #00ffff;
}

::selection {
	color: #6a22f8;
	background: #00ffff;
}
